In [1]:
import pandas as pd

In [4]:
PATH = "F:\\Ml files\\Emotion detection\\Data\\"

In [8]:
bd_df = pd.read_csv(PATH+"Bangla/Bangla YouTube Sentiment and Emotion datasets/Emotion.csv",delimiter=";")
bd_df.head()

,id,text,emotion,lan,domain
0,2275,Hands down. You are good. I mean smart good.,joy,EN,funny_video
1,2283,Your are very good. keep it up,none,EN,funny_video
2,2292,Man!! I will never get used to these videos of...,surprise,EN,funny_video
3,2293,ডিসলাইক দেয়া 32,none,BN,funny_video
4,2298,ব্যাপক বিনোদন।,joy,BN,funny_video

In [9]:
bd_df.lan.value_counts()

RN    1137
BN    1006
EN     747
Name: lan, dtype: int64

In [10]:
bd_df=bd_df.loc[(bd_df.lan=="BN")]

In [12]:
bd_df = bd_df.drop(['id', 'domain', "lan"], axis=1)

In [14]:
bd_df.head()

                                                 text  emotion
3                                     ডিসলাইক দেয়া 32     none
4                                      ব্যাপক বিনোদন।      joy
8            মন খারাপ থাকলেই ঢুকে পরি আপনার চ্যানেলে।     none
13  Taslima Akter কন্টেন্ট ক্রিয়েটর রা এক একটা প্র...  disgust
14                                    জাতি জানতে চায়।     none

In [29]:
bd_df.emotion.value_counts()

disgust     305
none        209
anger       202
joy         190
surprise     56
sad          42
fear          1
others        1
Name: emotion, dtype: int64

In [19]:
df1 = pd.read_excel(PATH + "Bangla/BanglaEmotion/Sources/EkattorTV_Comments.xlsx")
df2 = pd.read_excel(PATH + "Bangla/BanglaEmotion/Sources/ImranHSarker_Comment.xlsx")
df3 = pd.read_excel(PATH + "Bangla/BanglaEmotion/Sources/Magistrate_Comments.xlsx")

In [20]:
df1 = df1.drop(['Unnamed: 0'], axis=1)
df2 = df2.drop(['Unnamed: 0'], axis=1)
df3 = df3.drop(['Unnamed: 0'], axis=1)

In [21]:
df1 = df1[df1['Unnamed: 2'].notna()]
df2 = df2[df2['Unnamed: 2'].notna()]
df3 = df3[df3['Unnamed: 2'].notna()]

In [22]:
df1 = df1.append(df2, ignore_index = True)
full_df1 = df1.append(df3, ignore_index = True)

In [23]:
full_df1.rename(columns = {'Unnamed: 1':'text', 'Unnamed: 2':'category'}, inplace = True)

In [24]:
full_df1.category.value_counts()

happy       1908
angry       1416
sad         1341
disgust      703
surprise     562
fear         384
surprize      13
s              1
Name: category, dtype: int64

In [25]:
full_df1['emotion'] = full_df1['category'].replace(['surprize', 's'], ['surprise', 'surprise'])

In [26]:
full_df1.emotion.value_counts()

happy       1908
angry       1416
sad         1341
disgust      703
surprise     576
fear         384
Name: emotion, dtype: int64

In [30]:
BEmoC_df = pd.read_excel(PATH + "Bangla/BEmoC.xlsx")
BEmoC_df.head()

                                                TEXT  classes
0                           নাইমা কি করবেন আমরা জানি  sadness
1                       ভাই সব আপনাদের খুব ভাল লাগছে      joy
2  গাঞ্জা খাইয়া নিউজ শেয়ার করছে দিগন্ত  বয়কটে ...    anger
3  অনেক ধন্যবাদ স্যার যশোরে ইত্যাদি অনুষ্ঠান করার...      joy
4      বর্তমানে মুসলমান মারে যে জন সে জন হয়েছে ঈশ্বর  disgust

In [31]:
BEmoC_df["classes"].value_counts()

joy         1524
disgust     1356
sadness     1327
anger       1052
fear         962
surprise     779
Name: classes, dtype: int64

In [32]:
bd_df

                                                   text  emotion
3                                       ডিসলাইক দেয়া 32     none
4                                        ব্যাপক বিনোদন।      joy
8              মন খারাপ থাকলেই ঢুকে পরি আপনার চ্যানেলে।     none
13    Taslima Akter কন্টেন্ট ক্রিয়েটর রা এক একটা প্র...  disgust
14                                      জাতি জানতে চায়।     none
...                                                 ...      ...
2883  হেতিরে যে কি করতে মন চাচ্ছে ভাই,,,,,,,,,,সালির...    anger
2884  হেতিরে যে কি করতে মন চাচ্ছে ভাই,,,,,,,,,,সালির...    anger
2886                                      অসাব্য মাগি\n  disgust
2887  আপনি কিসের মন্রী কেন পদক্ষেপ নিলেন না কেন বড় ব...  disgust
2889  প্রতিটি মুক্তযোদ্ধাকে প্রয়োজনে দুইকোটি টাকা কর...  disgust

[1006 rows x 2 columns]

In [33]:
full_df1

                                                   text category emotion
0     বরাবর, মাননীয় প্রধানমন্ত্রী গণপ্রজাতন্ত্রী বা...      sad     sad
1     তদন্ত করে লাভ কী ? কোন দিন কোন তদন্তের পর কিছু...      sad     sad
2     দেশকি মধ্যম আয়ের দেশে রুপান্তর হচ্ছে নাকি মগের...    angry   angry
3     আমি গর্বিত আমি মুসলিম। আমি সংগ্রামী। আমি যোদ্ধ...    happy   happy
4                           রাতের বেলা আবার কিসের সকাল।    angry   angry
...                                                 ...      ...     ...
6323  Bravo বললে ছোট করা হবে ৷ সুতরাং হাজারো সালাম আ...    happy   happy
6324  কি যে করেন না ম্যাজিস্ট্রেট স্যার? প্রথমটুক পড়...    happy   happy
6325  আপনারা এই সত্যের পথে অবিচল থাকুন দেশবাসী আপনাদ...    happy   happy
6326          এগিয়ে যান। আপনাদের দিকেই তাকিয়ে বাংলাদেশ।    happy   happy
6327  দুর্নীতি মুক্ত হলে নিশ্চয় চোরও মুক্ত হবে, বিশ্...    happy   happy

[6328 rows x 3 columns]

In [37]:
full_df1 = full_df1.drop(['category'], axis=1)

In [40]:
full_df1

                                                   text emotion
0     বরাবর, মাননীয় প্রধানমন্ত্রী গণপ্রজাতন্ত্রী বা...     sad
1     তদন্ত করে লাভ কী ? কোন দিন কোন তদন্তের পর কিছু...     sad
2     দেশকি মধ্যম আয়ের দেশে রুপান্তর হচ্ছে নাকি মগের...   angry
3     আমি গর্বিত আমি মুসলিম। আমি সংগ্রামী। আমি যোদ্ধ...   happy
4                           রাতের বেলা আবার কিসের সকাল।   angry
...                                                 ...     ...
6323  Bravo বললে ছোট করা হবে ৷ সুতরাং হাজারো সালাম আ...   happy
6324  কি যে করেন না ম্যাজিস্ট্রেট স্যার? প্রথমটুক পড়...   happy
6325  আপনারা এই সত্যের পথে অবিচল থাকুন দেশবাসী আপনাদ...   happy
6326          এগিয়ে যান। আপনাদের দিকেই তাকিয়ে বাংলাদেশ।   happy
6327  দুর্নীতি মুক্ত হলে নিশ্চয় চোরও মুক্ত হবে, বিশ্...   happy

[6328 rows x 2 columns]

In [34]:
BEmoC_df

                                                   TEXT  classes
0                              নাইমা কি করবেন আমরা জানি  sadness
1                          ভাই সব আপনাদের খুব ভাল লাগছে      joy
2     গাঞ্জা খাইয়া নিউজ শেয়ার করছে দিগন্ত  বয়কটে ...    anger
3     অনেক ধন্যবাদ স্যার যশোরে ইত্যাদি অনুষ্ঠান করার...      joy
4         বর্তমানে মুসলমান মারে যে জন সে জন হয়েছে ঈশ্বর  disgust
...                                                 ...      ...
6995  হে আল্লাহ আপনি আমাদের দেশের প্রতি সহায়ক হন   ...  sadness
6996  ঈদ ছারাও যুদি বাংলাদেশ ঈদের খুশির অামেজ পান তব...      joy
6997  বছরের সবচেয়ে সেরা ভিডিও দেখেছি  আমাদের দেশের স...      joy
6998   কিরে মিথ্যা কথা কস কেন গতদিন আমি আর আসিফ আসছি...    anger
6999  \nভাইরেভাই বেস্ট এইটা বেস্ট\nএইরকম পারফেক্ট গল...      joy

[7000 rows x 2 columns]

In [38]:
BEmoC_df.rename(columns = {'TEXT':'text', 'classes':'emotion'}, inplace = True)

In [39]:
BEmoC_df

                                                   text  emotion
0                              নাইমা কি করবেন আমরা জানি  sadness
1                          ভাই সব আপনাদের খুব ভাল লাগছে      joy
2     গাঞ্জা খাইয়া নিউজ শেয়ার করছে দিগন্ত  বয়কটে ...    anger
3     অনেক ধন্যবাদ স্যার যশোরে ইত্যাদি অনুষ্ঠান করার...      joy
4         বর্তমানে মুসলমান মারে যে জন সে জন হয়েছে ঈশ্বর  disgust
...                                                 ...      ...
6995  হে আল্লাহ আপনি আমাদের দেশের প্রতি সহায়ক হন   ...  sadness
6996  ঈদ ছারাও যুদি বাংলাদেশ ঈদের খুশির অামেজ পান তব...      joy
6997  বছরের সবচেয়ে সেরা ভিডিও দেখেছি  আমাদের দেশের স...      joy
6998   কিরে মিথ্যা কথা কস কেন গতদিন আমি আর আসিফ আসছি...    anger
6999  \nভাইরেভাই বেস্ট এইটা বেস্ট\nএইরকম পারফেক্ট গল...      joy

[7000 rows x 2 columns]

In [41]:
BD_EMOTIONS = pd.concat([BEmoC_df, full_df1, bd_df])

In [42]:
BD_EMOTIONS

                                                   text  emotion
0                              নাইমা কি করবেন আমরা জানি  sadness
1                          ভাই সব আপনাদের খুব ভাল লাগছে      joy
2     গাঞ্জা খাইয়া নিউজ শেয়ার করছে দিগন্ত  বয়কটে ...    anger
3     অনেক ধন্যবাদ স্যার যশোরে ইত্যাদি অনুষ্ঠান করার...      joy
4         বর্তমানে মুসলমান মারে যে জন সে জন হয়েছে ঈশ্বর  disgust
...                                                 ...      ...
2883  হেতিরে যে কি করতে মন চাচ্ছে ভাই,,,,,,,,,,সালির...    anger
2884  হেতিরে যে কি করতে মন চাচ্ছে ভাই,,,,,,,,,,সালির...    anger
2886                                      অসাব্য মাগি\n  disgust
2887  আপনি কিসের মন্রী কেন পদক্ষেপ নিলেন না কেন বড় ব...  disgust
2889  প্রতিটি মুক্তযোদ্ধাকে প্রয়োজনে দুইকোটি টাকা কর...  disgust

[14334 rows x 2 columns]

In [43]:
BD_EMOTIONS.emotion.value_counts()

disgust     2364
happy       1908
joy         1714
angry       1416
surprise    1411
sad         1383
fear        1347
sadness     1327
anger       1254
none         209
others         1
Name: emotion, dtype: int64

In [44]:
BD_EMOTIONS['emotion'] = BD_EMOTIONS['emotion'].replace(['joy', 'angry','sadness','others'], ['happy', 'anger','sad','none'])

In [45]:
BD_EMOTIONS.emotion.value_counts()

happy       3622
sad         2710
anger       2670
disgust     2364
surprise    1411
fear        1347
none         210
Name: emotion, dtype: int64

In [46]:
BD_EMOTIONS.to_csv(PATH+"Bangla/BD_EMOTIONS.csv", index = False)